/* CART PAGE */

.products-container {
    max-width: 850px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    color: aliceblue;
    margin-bottom: 50px;
}

.products-container ion-icon {
    font-size: 30px;
    color: rgb(0, 183, 255);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.prices {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantitys {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.product span {
    padding-left: 10px;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 50%;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 20%;
    border-bottom: 1px solid lightgrey;
}

.basketTotal {
    width: 15%;
    border-bottom: 1px solid lightgrey;
}