ion-icon {
    pointer-events: none;
}

.social {
    padding: 0;
}

h4 {
    padding: 15px 0px;
}

.social li {
    display: inline-block;
    background-color: #d1d1d1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a .social-item {
    padding-top: 5px;    
    font-size: 30px;
}

.social li a {
    color: black;
    padding-top: 5px;
    transition: .5s;
    font-size: 25px;
}

.social li a:hover {
    color: rgb(117, 24, 24);
    text-decoration: none;
}

footer .links ul {
    list-style-type: none;
}

footer .links li a {
    color: #313131;
    text-decoration: none;
}

footer .links li a:hover {
    color: rgb(117, 24, 24);
}


.footer .copyright p {
    color: rgb(117, 24, 24);
    text-shadow: 1px 1px black;
    border-top: 1px solid rgba(14, 14, 14, 0.8);
    border-bottom: 1px solid rgb(14, 14, 14, 0.8);
}