body {
    background-color: rgb(117, 24, 24);
    scroll-behavior: smooth;
}

.text-danger {
    color: rgb(117, 24, 24)!important;
}

.indexbody {
    padding-top: 150px;
}

@font-face {
    font-family: cruiser;
    src: url(../font/aircruiser.ttf);
}

.newarrival-font {
    font-family: cruiser;
}

.newarrival-item-font {
    font-family: 'Russo One', sans-serif;
}
