body {
    background-color: rgb(117, 24, 24);
    scroll-behavior: smooth;
}

.text-danger {
    color: rgb(117, 24, 24)!important;
}

.indexbody {
    padding-top: 165px;
}

@font-face {
    font-family: cruiser;
    src: url(../font/aircruiser.ttf);
}

@font-face {
    font-family: valorant;
    src: url(../font/valorant.ttf);
}

@font-face {
    font-family: pubg;
    src: url(../font/pubg.ttf);
}

.newarrival-font {
    font-family: cruiser;
}

.newarrival-item-font {
    font-family: valorant;
}

.newarrival-font1 {
    font-family: pubg;
}
